@using QuartzMaster.Base.Helpers
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<section>
    <img alt="Alert Icon" src="@Url.Content("~/images/alert.png")"/>
    <h1>@Html.LocalResource(VirtualPath, "ErrorSorryString")</h1>
</section>
