@using QuartzMaster.Base.Helpers
@using MvcContrib.UI.Grid

@model QuartzMaster.Models.DashboardModel

@{
    ViewBag.Title = Html.LocalResource(VirtualPath, "PageTitle");
}
 
<h3>@Html.LocalResource(VirtualPath, "PageTitle") - @Model.SchedulerInfo.SchedulerName</h3>

<h5>@Html.LocalResource(VirtualPath, "TriggersTitle")</h5>
@Html.Grid(Model.Triggers).AutoGenerateColumns() 

